body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #009933; 
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0;
    color: #009933; 
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.styled-textbox {
    border: none;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    outline: none;
    min-height: 30px; /* Set a minimum height */
    overflow: hidden; /* Hide overflow content */
    width: 100%; /* Adjust the width as needed */
    white-space: pre-wrap; /* Preserve white spaces */
    resize: none; /* Disable user resizing */
  }
  